<div class="l-heroes">

		<h1>Heroes of the storm - Talents Calculator</h1>

		<div class="heroes">

			<figure class="hero" ng-repeat="hero in heroes | orderBy: '-heroRotation' ">
				<a href="#/hero_talents/{{hero.id}}">
					<div class="l-hero__thumbnail">
						<img class="hero__thumbnail" ng-class="{active: hero.heroRotation}" src="/assets/images/heroes-thumbnail/{{hero.thumbnail}}" alt="{{hero.name}}">
					</div>
					<figcaption>{{hero.name}}</figcaption>
				</a>
			</figure>


		</div>

</div>